<% include ./partials/header %>

<div class="row">
  <h1>Tracker</h1>
  
  <table>
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Platform</th>
      <th>Image</th>
      <th>Description</th>
    </thead>

    <tbody>
      <% games.forEach(function(game) { %>
        <% if (!game.completed) { %>
          <tr>
            <td><%= game.title %></td>
            <td><%= game.platform %></td>
            <td><img src="<%= game.image %>"></td>
            <td><%= game.description %></td>
          </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
</div>

<!-- <script>
  let gamesDataFromExpress = <%= games %> ;
  console.log(gamesDataFromExpress);
</script> -->
<% include ./partials/footer %>
